<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="We've a collection of impressively addicting games for you to enjoy your free time playing the
    stylish free games online, ath5gamelist.cc we work to give you with a free and addicting fun game
    experience soon we will have our exclusive games sector with surprise and always free.">
	<title>Poki H5 Gamelist </title>
	<link rel="shortcut icon" href="images/youxi_icon.png" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="style/detail.css" />
	<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="style/style2.css" />
	<link rel="stylesheet" type="text/css" href="style/reset.css" />
	<link rel="stylesheet" type="text/css" href="style/swiper.min.css" />
	<link rel="stylesheet" type="text/css" href="style//head.css" />
	<link rel="stylesheet" type="text/css" href="style/public.css" />
	<link rel="stylesheet" type="text/css" href="style/vue.css" />
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2591882719569178"
     crossorigin="anonymous"></script>
</head>

<body>
	<noscript>
	
	</noscript>
	<div id="app" v-cloak>
		<div class="top-nav-bar">
			<div class="container clearfix">
				<div class="fl left">
					<a :href="`index.html?gameChannelId=${gameChannelId}`"></a>
				</div>
				<div class="nav-center" v-cloak>
					<ul class="navbar_nav">
						<template v-for="cate in mainCategories" :key="cate.id">
							<li class="active">
								<a
									:href="cate.id === 15 ? `index.html?gameChannelId=${gameChannelId}` : handleToType(cate)">{{cate.name}}</a>
							</li>
							<li v-if="cate.id === 15" class="active">
								<a :href="`popular.html?gameChannelId=${gameChannelId}`">Popular</a>
							</li>
						</template>
						<li class="active">
							<a :href="`history.html?gameChannelId=${gameChannelId}`">History</a>
						</li>
						<li class="dropdown more-categories" v-if="moreCategories.length > 0">
							<a href="javascript:void(0)">More <span class="dropdown-arrow">▼</span></a>
							<ul class="dropdown-menu">
								<li v-for="cate in moreCategories" :key="cate.id">
									<a :href="handleToType(cate)">{{cate.name}}</a>
								</li>
							</ul>
						</li>
						<li class="active">
							<a :href="`search.html?gameChannelId=${gameChannelId}`">Search <span
									class="dropdown-arrow"><img src="images/tubiao11.png" width="12px" /></span></a>
						</li>
					</ul>
				</div>
				<a href="javascript:void(0)" id="navToggle">
					<img src="images/caidan.png" />
				</a>
			</div>
		</div>
		<div class="m_nav">
			<div class="top clearfix">
				<img src="images/guanbi.png" alt="" class="closed" />
			</div>

			<ul class="ul" data-in="fadeInDown" data-out="fadeOutUp">
				<template v-for="cate in mainCategories" :key="cate.id">
					<li class="active">
						<a
							:href="cate.id === 15 ? `index.html?gameChannelId=${gameChannelId}` : handleToType(cate)">{{cate.name}}</a>
					</li>
					<li v-if="cate.id === 15" class="active">
						<a :href="`popular.html?gameChannelId=${gameChannelId}`">Popular</a>
					</li>
				</template>

				<li class="active">
					<a :href="`history.html?gameChannelId=${gameChannelId}`">History</a>
				</li>
				<li class="dropdown more-categories" v-if="moreCategories.length > 0">
					<a href="javascript:void(0)">More <span class="dropdown-arrow">▼</span></a>
					<div class="dropdown_menu">
						<a v-for="cate in moreCategories" :key="cate.id" :href="handleToType(cate)">{{cate.name}}</a>
					</div>
				</li>
				
				<li class="active">
					<a :href="`search.html?gameChannelId=${gameChannelId}`">Search <span class="dropdown-arrow"><img
								src="images/tubiao33.png" width="12px" /></span></a>
				</li>
			</ul>
		</div>
		<!-- Ad Container -->
		<div class="ad-container">
			<!-- A -->
			<ins class="adsbygoogle"
			style="display:block"
			data-ad-client="ca-pub-2591882719569178"
			data-ad-slot="8874338763"
			data-ad-format="auto"
			data-full-width-responsive="true"></ins>
		</div>
		<main>
			<section class="game">
				<div class="game-detail">
					<div class="game-left">
						<img class="game-logo_img img-load" src="images/loading.svg" :data-src="detail.gameLogo"
							:alt="detail.gameName">
					</div>
					<div class="game-right">
						<div class="game-name">{{detail.gameName}}</div>
							<a class="game-button disabled" href="javascript:;" v-if="disabled">PLAY NOW</a>
							<a class="game-button" :href="handleToPlay()" v-else>Play Now</a>
							<p class="game-desc">{{detail.gameDesc}}</p>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="row">
						<div class="col-6 col-lg-3 mt- pt-2" v-for="item in detail.gameListIndexVos" :key="item.gameId">
							<a :href="handleToDetail(item.gameId, 'Popular')">
								<div class="position-relative overflow-hidden blog  rounded shadow">
									<div class="position-relative overflow-hidden">
										<img :src="item.gameLogo" :data-src="item.gameLogo"
											:alt="`${item.gameLogo}|${item.gameId}`" class="img-fluid blog-img">
										<div class="blog-tag">
											<span class="badge bg-primary fw-light">play</span>
										</div>
									</div>
									<div class="content p-4 ">
										<span class="score_span"
											style="font-size: 16px !important;color: #ffbc42;"><span
												class="score-icon"></span>4.5 &nbsp;<span style="color: #fa009f;"><span
													class="heart-fill"></span>Like {{item.gameId}}</span></span>
										<span class="title text-dark d-block mt-2 h5">{{item.gameName}}</span>
										<div class="play-imgs">
											<img src="images/GamePlay.png" alt="" />
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer v-html="footer"></footer>
	</div>
</body>
<script src="script/footer.js"></script>
<script src="script/main.js"></script>
<script src="script/vue.min.js"></script>
<script src="script/axios.min.js"></script>
<script src="script/bootstrap.bundle.min.js"></script>
<script src="script/jquery-1.10.2.js"></script>
<script src="script/bootstrap-3.3.4.js"></script>
<script src="script/swiper.min.js"></script>
<script src="script/header.js"></script>
<script src="script/detail.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</html>