<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="We've a collection of impressively addicting games for you to enjoy your free time playing the
    stylish free games online, ath5gamelist.cc we work to give you with a free and addicting fun game
    experience soon we will have our exclusive games sector with surprise and always free.">
	<title>Poki H5 Games</title>
	<link rel="shortcut icon" href="images/youxi_icon.png" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="style/index.css" />
	<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="style/style2.css" />
	<link rel="stylesheet" type="text/css" href="style/reset.css" />
	<link rel="stylesheet" type="text/css" href="style/swiper.min.css" />
	<link rel="stylesheet" type="text/css" href="style//head.css" />
	<link rel="stylesheet" type="text/css" href="style/public.css" />
	<link rel="stylesheet" type="text/css" href="style/vue.css" />
	<!--谷歌代码开始--->
	<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2780594097763520"
		crossorigin="anonymous"></script> -->
	<!--谷歌代码结束--->
</head>

<body>
	</script>
	<!-- <noscript>
		<img src="https://data.ad-score.com/img?s=ns&pid=1000924&tid=MW&l1=h5gamelist.cc&l2=22844476659&l3=HK" width="1"
			height="1">
		</img>
	</noscript> -->
	<div id="app" v-cloak>
		<div class="top-nav-bar">
			<div class="container clearfix">
				<div class="fl left">
					<a :href="`index.html?gameChannelId=${gameChannelId}`"></a>
				</div>
				<div class="nav-center" v-cloak>
					<ul class="navbar_nav">
						<template v-for="cate in mainCategories" :key="cate.id">
							<li class="active">
								<a
									:href="cate.id === 15 ? `index.html?gameChannelId=${gameChannelId}` : handleToType(cate)">{{cate.name}}</a>
							</li>
							<li v-if="cate.id === 15" class="active">
								<a :href="`popular.html?gameChannelId=${gameChannelId}`">Popular</a>
							</li>
						</template>
						<li class="active">
							<a :href="`history.html?gameChannelId=${gameChannelId}`">History</a>
						</li>
						<li class="dropdown more-categories" v-if="moreCategories.length > 0">
							<a href="javascript:void(0)">More <span class="dropdown-arrow">▼</span></a>
							<ul class="dropdown-menu">
								<li v-for="cate in moreCategories" :key="cate.id">
									<a :href="handleToType(cate)">{{cate.name}}</a>
								</li>
							</ul>
						</li>

						<li class="active">
							<a :href="`search.html?gameChannelId=${gameChannelId}`">Search <span
									class="dropdown-arrow"><img src="images/tubiao11.png" width="12px" /></span></a>
						</li>
					</ul>
				</div>
				<a href="javascript:void(0)" id="navToggle">
					<span></span>
				</a>
			</div>
		</div>
		<div class="m_nav">
			<div class="top clearfix">
				<img src="images/guanbi.png" alt="" class="closed" />
			</div>
			<ul class="ul" data-in="fadeInDown" data-out="fadeOutUp">
				<template v-for="cate in mainCategories" :key="cate.id">
					<li class="active">
						<a
							:href="cate.id === 15 ? `index.html?gameChannelId=${gameChannelId}` : handleToType(cate)">{{cate.name}}</a>
					</li>
					<li v-if="cate.id === 15" class="active">
						<a :href="`popular.html?gameChannelId=${gameChannelId}`">Popular</a>
					</li>
				</template>
				<li class="active">
					<a :href="`history.html?gameChannelId=${gameChannelId}`">History</a>
				</li>
				<li class="dropdown more-categories" v-if="moreCategories.length > 0">
					<a href="javascript:void(0)">More <span class="dropdown-arrow">▼</span></a>
					<div class="dropdown_menu">
						<a v-for="cate in moreCategories" :key="cate.id" :href="handleToType(cate)">{{cate.name}}</a>
					</div>
				</li>
				<li class="active">
					<a :href="`search.html?gameChannelId=${gameChannelId}`">Search <span class="dropdown-arrow"><img
								src="images/tubiao33.png" width="12px" /></span></a>
				</li>
			</ul>
		</div>
		<main>
			<section class="section">
				<div class="ad-container">
					<!--谷歌代码开始--->
					<!-- <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2780594097763520"
						data-ad-slot="9856512631" data-ad-format="auto" data-full-width-responsive="true"></ins> -->
					<!--谷歌代码结束--->
				</div>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-title text-center mb-4">
								<h4 class="title"><i class="min-wujiaox">★</i><i class="max-wujiaox">★</i> {{title}} <i class="max-wujiaox">★</i><i class="min-wujiaox">★</i></h4>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6 col-lg-3 mt-4 pt-2" v-for="item in list" :key="item.gameId">
							<a :href="handleToDetail(item.gameId, 'Popular')">
								<div class="position-relative overflow-hidden blog  rounded shadow">
									<div class="position-relative overflow-hidden">
										<img :src="item.gameLogo" :data-src="item.gameLogo"
											:alt="`${item.gameLogo}|${item.gameId}`" class="img-fluid blog-img">
										<div class="blog-tag">
											<span class="badge bg-primary fw-light">play</span>
										</div>
									</div>
									<div class="content p-4 ">
										<small><i class="uil uil-calendar-alt"></i></small>
										<span class="score_span"
											style="font-size: 16px !important;color: #ffbc42;"><span
												class="score-icon"></span>4.5 &nbsp;<span style="color: #fa009f;"><span
													class="heart-fill"></span>Like {{item.gameId}}</span></span>
										<span class="title text-dark d-block mt-2 h5">{{item.gameName}}</span>
										<div class="play-imgs">
											<img src="images/GamePlay.png" alt="" />
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="row mt-4" v-if="totalPages > 1">
						<div class="col-12">
							<nav aria-label="Page navigation">
								<ul class="pagination justify-content-center">
									<li class="page-item" :class="{ disabled: currentPage === 1 }">
										<a class="page-link" href="javascript:void(0)"
											@click="goToPage(currentPage - 1)"
											:tabindex="currentPage === 1 ? -1 : 0">Previous</a>
									</li>
									<li class="page-item" v-for="pageNum in getPageNumbers()" :key="pageNum"
										:class="{ active: pageNum === currentPage, disabled: pageNum === '...' }">
										<a v-if="pageNum !== '...'" class="page-link" href="javascript:void(0)"
											@click="goToPage(pageNum)">{{ pageNum }}</a>
										<span v-else class="page-link">{{ pageNum }}</span>
									</li>
									<li class="page-item" :class="{ disabled: currentPage === totalPages }">
										<a class="page-link" href="javascript:void(0)"
											@click="goToPage(currentPage + 1)"
											:tabindex="currentPage === totalPages ? -1 : 0">Next</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>

				</div>
			</section>
		</main>
		<footer v-html="footer"></footer>
	</div>
</body>
<script src="script/footer.js"></script>
<script src="script/main.js"></script>
<script src="script/vue.min.js"></script>
<script src="script/axios.min.js"></script>
<script src="script/bootstrap.bundle.min.js"></script>
<script src="script/jquery-1.10.2.js"></script>
<script src="script/bootstrap-3.3.4.js"></script>
<script src="script/swiper.min.js"></script>
<script src="script/header.js"></script>
<script src="script/type.js"></script>
<!--谷歌代码开始--->
<!-- <script>
		(adsbygoogle = window.adsbygoogle || []).push({});
</script> -->
<!--谷歌代码结束--->

</html>